html {
	background-color: #343434;
}

* {
	color: white;
	margin: 0;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

textarea {
	width: calc(100% - 10px);
}

button, select {
	background-color: #505050;
	border-radius: 4px;
	padding: 7px 7px;
	border: none;
}

#ttrPlayer_container {
	width: 80%;
	margin-top: 30vh;
	margin-left: calc(10% - 25px);
	background-color: #3f3f3f;
	border: solid 1px #BABABA;
	border-radius: 5px;
	min-height: 200px;
	padding: 20px;
}

#ttrPlayer_topRow {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

#ttrPlayer_fileSelect {
	display: flex;
}

#fileInput {
	display: none;
}

#ttrPlayer_filename {
	font-size: 10pt;
	margin-left: 7px;
	margin-top: 10px;
}

#ttrPlayer_replay {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-content: flex-start;
}

.ttrPlayer_replay_word {
	position: relative;
	margin: 0.25rem;
	color: grey;
	line-height: 1rem;
}

.ttrPlayer_replay_letter {
	display: inline-block;
	color: grey;
}

.ttrPlayer_replay_letter.correct {
	color: white;
}

.ttrPlayer_replay_letter.incorrect {
	color: red;
}

.ttrPlayer_replay_letter.extra {
	color: pink;
}

#ttrPlayer_bottom {
	display: flex;
	justify-content: space-between;
}

#ttrPlayer_bottomRight {
	display: flex;
	position: relative;
	margin-top: 55px;
}

#ttrPlayer_bottomRight p {
	margin-left: 20px;
}
